* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Header */

.contenedor-img-baner{
    padding: 2rem 0 2rem 0;
    width: 60%;
}
.contenedor-img-baner img{
    width: 100%;
}
.contenedor-principal {
    background-image: url('../assets/img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff85;
    background-blend-mode: soft-light;
    background-size: cover;
    padding: 0 10% 1rem 10%;
}


.contenedor-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
}

.contenedor-botones-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.boton-header {
    padding: 1rem 2rem 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 2px 2px rgb(0, 0, 0);
    text-decoration: none;
}

.boton-rojo {
    background-color: #f8393a;
    color: #e7e4e4;
}

.boton-azul {
    background-color: #007abe;
    color: #e7e4e4;
}

.boton-verde {
    background-color: #00a957;
    color: #e7e4e4;
}





/* Opciones */
.titulo-opciones {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #1f1e1e;
}

.contenido-opciones {
    display: flex;
}

.opcion {
    width: calc(100%/4);
    text-align: center;
}
.opcion img{
    width: 3rem;
}

.contenedor-opciones {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-items: baseline;
}


.texto-rojo {
    color: #f8393a;
}
.contenedor-img-opciones{
    width: 50%;
}
.contenedor-img-opciones img{
    width: 100%;
}

/* Footer */
footer {
    background-color: #32afd8;
    border-radius: 1rem;
    padding: 2rem 0 2rem 0;
}

.titulo-footer {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #fff;
}

.contenedor-consejos {
    display: flex;
    justify-content: space-evenly !important;
}
.titulo-consejo{
    font-weight: bold;
    margin-bottom: .5rem;
}
.consejos {
    width: 10rem;
    color: #fff;
}




/* responsive */

@media (max-width:750px){
    .contenedor-img-baner{
        width: 100%;
    }
    .contenedor-img-baner img{
        width: 100%;
    }
    .contenedor-botones-menu{
        flex-direction: column;
    }
    .boton-header{
        width: 100%;
        text-align: center;
    }

    /* opciones */
    .contenido-opciones{
        flex-direction: column;
    }
    .contenedor-opciones{
        width: 100%;
        gap: 2rem;
        align-items: baseline;
    }
    .contenedor-img-opciones{
        width: 100%;
    }


    /* footer */
    .contenedor-consejos{
        flex-direction: column;
        gap: 1rem;
    }
    .consejos{
        width: 100%;
        text-align: center;
    }

    
}